/** {
   border: 1px solid red !important;
}*/

* {
    font-family: Futura, sans-serif;
    color: white;
    text-shadow: 2px 2px black;
}
html {
    /*background-image: url('img/tt144h0.jpg');*/
    /*background-size: cover;*/
    background-color: #95b7fc;
    margin: 0;
    padding: 0;
    height: 100%;
}
#wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navbar {
    padding: 1em 1em;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 1.4em;
    flex: 1;
}
.navbar nav {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    width: 35%;
}
a {
    text-decoration: none;
    color: white;

}
a:hover {
    text-decoration: underline;
}
nav>a:nth-child(2) {
    margin: 0px 10px;
}
.main-container {
    flex: 8;
}
#date {
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 25px;
}
#clock {
    font-size: 6.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}
.calender {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.quoteBox {
    padding: 5em 5em 0.5em 5em;
    color: white;
    font-size: 1.6em;
    text-shadow: 1px 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font
}
.horoscopes-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 2em;
}
.horoscope-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
}

.horoscope-section>h2{
font-size: 2em;
margin-bottom: 20px;
border-bottom: 1px solid white;
width: 64%;
padding-bottom: 7px;
cursor: pointer;
}

#the-signs {
  display: none;
}
.horoscope-sign-menu {
    /*background-color: rgba(88, 88, 88, 0.7);*/
    flex: 1;
    padding-left: 1.5em;

}
.horoscope-sign-menu>h3 {
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 10px;
    opacity: 1;
    cursor: pointer;

}
.horoscope-prediction-viewport {
    font-size: 2.5em;
    flex: 2;
    padding-right: 3em;
    text-align: center;
    line-height: 1.5;
}

#onion-warning {
    bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;;
    align-items: center;
    font-size: 1em;

}

#footer {
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    width: 40%;
    margin: 0 auto;
    padding: 5px;
    flex: 1;
}
#footBar img {
    width: 25px;
    height: 25px;
}
#footBar>a:nth-child(2) {
    margin: 0px 20px;
}
